.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 14vh;
  box-sizing: border-box;
  padding: 20px 50px 20px 50px;
  background-color: white;
}

.header-container a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header-logo {
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.header-logo span {
  color: #17e370;
}
